.container {
    width: 600px;
    height: 250px;
    background-color: lightblue;
}
#pizza {
    display: flex;
    justify-items: center;
}
.btn{
    margin: 50px 5px 5px 5px;
    border: none;
    border-radius: 10px;
    
}
.img {
    width: 30px;
    height: 30px;
}